<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link type="text/css" rel="stylesheet" href="css/index.css">
		<link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<title>Sübpar</title>
	</head>
	<body>
		<header>
			<nav id="primary_nav_wrap">
				<ul>
					<li><a href="#"><h2>MENU</h2></a>
						<ul>
							<li><a href="mission">MISSION</a></li>
							<li><a href="drivers">DRIVERS</a></li>
							<li><a href="contact">CONTACT</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<h1 id="title"><a href="/">S Ü B P A R</a></h1>
		</header>
		<img id="image1" src="uber1.jpg" width="100%" height="622px">
		<img id="image2" src="uber2.jpg" width="100%" height="622px">
		<img id="image3" src="uber4.jpg" width="100%" height="622px">
		<script>
			$(document).ready(function() {
				// var width = window.innerWidth;
				var height = window.innerHeight;
				// document.getElementsByTagName("img").style.width = width;
				// document.getElementsByTagName("img").style.height = height;
				console.log(height);
				$("#image1").fadeOut(0);
				$("#image3").fadeOut(0);
				setTimeout(function() {
					$("#image2").fadeOut();
					$("#image3").fadeIn();
				}, 4000);
				setTimeout(function() {
					$("#image3").fadeOut();
					$("#image1").fadeIn();
				}, 8000);
				setInterval(function() {
					$("#image1").fadeOut();
					$("#image2").fadeIn();
				}, 12000);
				setTimeout(function() {
					setInterval(function() {
						$("#image2").fadeOut();
						$("#image3").fadeIn();
					}, 12000);
				}, 4000);
				setTimeout(function() {
					setInterval(function() {
						$("#image3").fadeOut();
						$("#image1").fadeIn();
					}, 12000);
				}, 8000);
			});
		</script>
	</body>
</html>