<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script>
		$(window).load(  
    		
			function(){ $("body").fadeOut(500);
						$("body").fadeIn(1000);
						$(".mission_text").slideUp(1000);
						$(".mission_text").slideDown(5000)
						// $("p").slideDown(2000);
						
						

				('');   } );

		</script>
		<link type="text/css" rel="stylesheet" href="css/subpar.css">
		<link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
		<a href="/"><title>Sübpar</title></a>
	</head>
	<body>
		<header>
			<nav id="primary_nav_wrap">
			
			<ul>
				<li><a href="#"><h2 id="menu">MENU</h2></a>
					<ul>
						<li><a href="/mission">Missions</a></li>
						<li><a href="/drivers">Drivers</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</li>
			</ul>

			</nav>
			<a href="/"><h1 id="title">S Ü B P A R</h1></a>
		</header>
		<div class="mission_text">
			<h1 style="margin-right:800px;">The Sübpar Mission</h1>
			<br>
			<br>
			<h2>Here at Sübpar we're dedicated to providing customers the highest quality, cheap ride available to the general public.Don't be fooled by our beat up cars.We're a top notch taxi service at the lowest price on the market.</h2>
			<br>
			<br>
			<h1 style="margin-left:800px;color:red"><strong>Guaranteed.</strong></h1>
			<br>
			<h2>We strive to be different and stand out from our competitors Uber and Lyft. We're not pretentious, and we get the job done. Get from point A to point B with the least damage to your bank account.</h2>
			<br>
			<h1 style="margin-left:800px;color:red">This is how ride services should be.</h1>

			<div class="footer">
			
			</div>
		</div>


		<img id="bg" style="margin-top: 0px;z-index:-1;min-width:100%;min-height:100%;" src="images/subparmissionpic2.jpg" height="1000px"width="100%">

	</body>
</html>